; Example config file

; This is a commentary
; There are no multi-line commentaries

; All fields, that are a part of Config class must be set first
IsInvinsible true
SomeText    "Hello World!"
SomeVector2 (2, 45.2)
SomeVector3 (13.226, 940.2223, 23)
SomeVector4 (99.22, 2222.33333, -22)


; Name inside square brackets should match the TYPE name of the category.
; If your project is a namespace hell, I am realy sorry for you.
[Volume]
Sound       8
Music       10
Voice       10

[Player]

SomePlayerData 88.8

[Some]
Data 33333